<div>
    <div class="container-fluid" style="padding-top: 2%">
        <div class="row" style="margin-left: auto">
            <div class="col-md-12">
                <h4>Ошибка!</h4>
            </div>
        </div>
    </div>
</div>